*{
    margin: 0;
    padding: 0;
}
.bar{
    height: 65px;
    background-color: black;
    color: white;
}
a:hover{
    color:red;
}
h1{
   margin:top 5px;
    height: 45px;
    color:red;
    background: rgb(238, 215, 4);
    text-align: center;
}
.abs{
    display:inline-block;
    margin-top: 10px;
    color:blue;
    width:33%;
}
.absc{
    display:inline-block;
    margin-top: 10px;
    color:blue;
    width:33%;
}
.ab{
    display:inline-block;
    margin-top: 10px;
    color:blue;
    width:33%;
}
.abc{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 77px;
    text-align: center;
}